#hero {
  background: url("../../static/latte.jpg");
  background-size: cover;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-header {
  margin: 0;
  text-transform: uppercase;
  font-size: 5rem;
  padding: 0.5rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.blog-list {
  padding: 1rem;
}

#page-links {
  padding: 1rem;
}

#page-links-anchor {
  margin: 1rem;
}
