.header {
  font-family: "Oswald", sans-serif;
  background: url("/coffee.jpg");
  background-size: cover;
  color: #ffffff;
}

.header-inner {
  background: rgba(119, 79, 56, 0.85);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.header-h1 {
  margin: 0;
  flex-grow: 1;
}

.header-h1-anchor {
  color: #fff;
  text-decoration: none;
}
